@import url('https://fonts.googleapis.com/css?family=Orienta&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

body{
    margin: 0;
    font-family: 'Orienta', sans-serif;
    height:100%;
    background-image: url('../img/stars_3.jpg'),url('../img/stars.png'),url('../img/stars_2.png'),url('../img/stars_2.png'),linear-gradient(rgb(9, 14, 41), rgb(73, 65, 117));
    background-repeat: repeat, repeat, repeat, repeat, no-repeat;
    background-size: 500px, 180px, 100px, 400px, auto;
    background-blend-mode: lighten, soft-light, soft-light, normal, soft-light;
    background-attachment: fixed, scroll, scroll, scroll, fixed;
}

/* rows */
nav,nav ul,.nav-ul,.nav-logo a,.project-row,.tools-row,.project-col-l,.project-col-r {
    display: flex;
}

/* NAVBAR */
.nav-ul,
.nav-ul-resp {
    list-style: none;
    padding:0px;
    margin:0px;
    width:100%;
    flex-wrap: wrap;
    background-color: #565D8C;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    color:white;
    z-index: 50;
}

.nav-container {
    background-color: #565D8C;
}

#nav-ul-id{
    list-style: none;
}

.nav-li {
    flex:1; 
}

.nav-li  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height:100%;    
    width: 100%;
    color: white;
}


.nav-li a:hover {
    background-color: rgba(123, 131, 187);
}

.nav-ul-resp.hidden {
    transition:0;
    opacity: 1;
}

/* logo imagen */
.nav-logo-icon {
    height: 80px;
    width:auto;
    margin:8px 40px 8px 5px;
}

/* icono menu responsive */
.nav-icon {
    width: 100%;
    display: none;
}
.nav-menu-icon-src {
    height: 50px;
}

/* seccion proyectos */
.content {
    margin-top:96px;
}

.project-row,.tools-row {
    margin: 0 2% 3% 2%;
    padding-top: 2%;
}

.project-image {
    height: 100%;
    width: 100%;
}

.project-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 60px;
}

.project-one-top,
.project-two-bot,
.project-three-top,
.project-four-bot{
    margin:1%;
    display: flex;
}
.project-col-l,
.project-col-r{
    flex-direction: column;
    width: 55%;

}
.project-col-r{

    width: 45%;
}

.project-one-top,
.project-two-bot,
.project-three-top,
.project-four-bot {
    background: 
     linear-gradient(to top,rgba(53,0,86,0.7) 0%, rgba(53,0,86,0.6) 13%, rgba(120, 106, 160, 0.5) 100%) padding-box,
     linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0)) border-box;
    border-radius: 4px;
    border: solid 3px transparent;
    -webkit-box-shadow: 0px 13px 6px -7px rgba(16,1,36,1);
    -moz-box-shadow: 0px 13px 6px -7px rgba(16,1,36,1);
    box-shadow: 0px 13px 6px -7px rgba(16,1,36,1);
    

}

.project-one-top {
    height: 400px;
}

.project-image-src:hover {
    filter: brightness(1.1) saturate(85%);
}
.project-two-bot{
    height: 230px;
   
}
.project-three-top{
    height: 450px;
    
}
.project-four-bot{
    height: 183px;
}

.project-content-icon{
   flex-direction: column;
    height: 120px;
    margin-bottom: 5px;
}

.project-content-icon > a, .project-content-icon > button {
    background: none;
    border:0;
    padding:0;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 50%;
    display: flex;
}

.project-icon{
    height: 40px;
    width: 40px;
}

.project-icon:hover{
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 0px 10px  rgb(255, 255, 255));
}
.project-close-icon-row > button:hover {
    filter: drop-shadow(0px 0px 10px  rgb(255, 255, 255));
}

.contact-icon:hover{
    filter: drop-shadow(0px 0px 10px  rgba(255, 255, 255, 0.6));
}
.project-close-icon-row{
    display: flex;
    border-bottom: 2px solid white;
    width: 88%;
    margin: 0% 6% 0% 6%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.project-close-icon-row h2 {
    margin: 0
}

.project-close-icon-row > button {
    margin: 10px 10px 10px 15px;
    width: 35px;
    padding: 0;
    background: none;
    border: 0;
}
.close-info{
    width:100%;
    display: flex;
}

.project-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    word-wrap: break-word;
    color:white;
}

#idProjectOneImg,
#idProjectTwoImg,
#idProjectThreeImg {
    object-fit: contain;
    background-image:linear-gradient(rgba(157, 144, 231, 0.6),rgb(0, 0, 0)),url('../img/lod_bg.jpg');
    background-size: auto,cover;
    background-blend-mode: screen;
}

#idProjectTwoImg {
    background-image: url('../img/sala_red_bg.jpg');
}

#idProjectThreeImg {
    background-image: url('../img/bq_bg_2.jpg');
}

.project-image-src {
    height: 100%;
    width: 100%;
}

#idProjectInfoOneDiv, 
#idProjectInfoTwoDiv{
    background-image: linear-gradient(rgba(42, 41, 51, 0), rgba(0, 0, 0, 0.8));
}


.project-text-and-tech {
    margin: 2% 6% 2% 6%;
    font-size: 17px;
}


.tech-tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-text {
    display: block;
}
.project-text > p {
    margin:0 0 10px 0;
}
.project-text span {
    font-weight: bolder;
    padding-bottom: 2px;
    border-bottom: 2px white solid;
}
.tech-tools-icon {
    height: 50px;
    margin: 5px;
    filter: drop-shadow(0px 0px 10px  rgba(0, 0, 0, 0.4));
}

.not-display {
    display: none;
}

.display {
    display: block;
}

/* herramientas seccion */
.tools-section {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.tools-row-title {
    -webkit-box-shadow: 0px 13px 6px -7px rgba(16,1,36,1);
    -moz-box-shadow: 0px 13px 6px -7px rgba(16,1,36,1);
    box-shadow: 0px 13px 6px -7px rgba(16,1,36,1);
    background-color: #565D8C;
    border-radius: 0 4px 4px 0 ;
    width: 50%;
}

.tools-row-title h1{
    color: white;
    cursor: default;
    padding-right: 10%;
    text-align: right;
}

.tools-row {
    flex-wrap: wrap;
    justify-content: center;
}

.tools-icon {
    height: 150px;
    margin: 5px;
}

.contact-icon{
    height: 130px;
    margin: 15px;
}


@media screen and (max-width: 768px) {
    
    nav {
        display: block;
    }

    .nav-container {
        display: flex;
    }

    .nav-ul {
        display: none;
    }

    .nav-icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
    }

    .nav-logo-icon {
        margin:8px 0px 8px 5px;
    }

    .nav-ul,.nav-ul-resp {
        background-color: transparent;
    }

    .nav-ul-resp { 
        flex-direction: column;
    }

    .nav-li {
        background-color: #565D8C;
        height: 2em;
        transition: all 0.4s ease-out;
        opacity: 0;
        border: 5px solid ;
        border-top: 3px solid;
        border-image: linear-gradient(0deg,  rgba(123, 130, 187, 0.3),rgba(65, 71, 107, 0.4)) 1;
    }

    .nav-li a {
        padding: 35px 0px 35px 0px;
        font-size: 25px;
        height: 0
    }

    .nav-li.show {
        opacity: 1;
    }

    .nav-ul-resp.hidden {
        transition: all 0.5s ease-in;
        opacity: 0;;
    }

    .project-col-l,.project-col-r {
        margin:0px;
        width: 100%;
    }

    .project-row {
        flex-direction: column;
    }

    .contact-icon{
        height: 80px;
        margin: 15px;
    }

    .tools-icon {
        height: 130px;
        margin: 5px;
    }
}


@media screen and (max-width: 600px) {
   .tech-tools-icon{
       height: 40px;
   }

    .project-close-icon-row > button {
        width:25px;
    }

   
}

@media screen and (max-width: 500px){
    h2 { 
        margin: 0;
        font-size: 16px;
    }
    .project-text-and-tech {
        font-size: 16px;
    }
}
  
@media screen and (max-width: 380px) {
    .tech-tools-icon{
        height: 35px;
        margin-right: 0;
        margin-left: 0;
    }
   
    h2 { 
        margin: 0;
        font-size: 15px;
    }
    .content {
        margin-top: 66px;
    }
    .project-text-and-tech {
        font-size:14.5px;
    }

    .project-close-icon-row > button {
        width:20px;
    }

    .project-info > p{
        font-size: 16px;
    }
    .nav-logo-icon{
        height: 50px;
        margin-right: 0px;
    }

    .nav-icon{
        margin-right: 10px;
    }

    .nav-menu-icon-src{
        height: 30px;
    }
}

@media screen and (max-width: 300px) {
    .project-text-and-tech {
        font-size:12px;
    }
    .project-info { 
        overflow: auto;
    }
}
