@import url('https://fonts.googleapis.com/css?family=Orienta&display=swap');

body{
    margin: 0;
    font-family: 'Orienta', sans-serif;
    height:100%;
}

/* rows */
nav,nav ul,.nav-ul{
    display: flex;
}

/* NAVBAR */
.nav-ul,.nav-ul-resp{
    padding:0px;
    margin:0px;
    width:100%;
    flex-wrap: wrap;
    background-color: #565D8C;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    color:white
}
.nav-container{
    background-color: #565D8C;
}

nav ul{
    list-style: none;
}

.nav-li{
    flex:1; 
}

.nav-li  a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height:100%;    
    width: 100%;
    color: white;
}

nav >ul>li> a:hover{
    background-color: rgba(123, 131, 187, 0.719);
}

.nav-logo-icon{
    height: 80px;
    width:auto;
    margin:5px 40px 5px 5px;
}

.nav-icon {
    background-color: aqua;
    width: 100%;
    font-size: 50px;
    
    display: none;
  }


  @media screen and (max-width: 700px) {
    nav{
        display: block;
    }
    .nav-container{
        display: flex;
        width: 100%;
    }
    .nav-ul{
        display: none;
    }
    .nav-icon {
        display: block;
    }
    .nav-ul,.nav-ul-resp{
        align-items: center;
        justify-content: flex-end;
        background-color: transparent;
    }
    .nav-ul-resp{ 
        flex-direction: column;
    }
    nav >ul>li> a{
       padding: 20px 0px 20px 0px;
    }
        
    .nav-li {
        background-color: red;
        perspective: 100px;
        height: 2em;
        width: 100%;
        transition: all 0.4s ease-out;
        opacity: 0;
        
      }
      .nav-li.show {
        opacity: 1;
      }
    }

  